.map_field-2 > .map_field ,.map_field-info{
    width: 98% !important;
}
.map_field {
    height: 500px;
    resize: vertical;
    overflow: auto;
    overflow-x: hidden;
}
.map_field-info{
    z-index: 401;
    height: 30px;
}
.map_field-buttons{
    z-index: 402;    
    margin-bottom: 30px;    
}

.marker_color{
    filter: hue-rotate(255deg);
}